html {
    color: white;
}

h1 {
    color: black;
}

/* :root {
    --bg-primary: #0275d8;
    --bg-success: #5cb85c; !!FORSE METODO UN PO SCOMODO
}

[class^="col-"] {
    color: var(--bg-primary); !!FORSE METODO UN PO SCOMODO
} */

[class^="col-"] {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    height: 50px;
}

.posting {
    margin-bottom: 30px;
}