html {
    color: white;
}

h1 {
    color: black;
}

/* :root {
    --bg-primary: #0275d8;
    --bg-success: #5cb85c;
}

[class^="col-"] {
    color: var(--bg-primary);
} */

[class^="col-"] {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    height: 50px;
}

.h-70 {
    margin-bottom: 50px;
}